[submodule "eyun-keyring"]
	path = eyun-keyring
	url = https://github.com/atomlong/eyun-keyring.git
[submodule "rclone-bin"]
	path = rclone-bin
	url = https://github.com/atomlong/rclone-bin.git
	branch = msys2
[submodule "oniguruma"]
	path = oniguruma
	url = https://github.com/atomlong/oniguruma.git
[submodule "jq"]
	path = jq
	url = https://github.com/atomlong/jq.git
