[submodule "crosstool-ng-git"]
	path = crosstool-ng-git
	url = https://github.com/atomlong/crosstool-ng-git.git
[submodule "cv2pdb"]
	path = cv2pdb
	url = https://github.com/atomlong/cv2pdb.git
[submodule "eyun-keyring"]
	path = eyun-keyring
	url = https://github.com/atomlong/eyun-keyring.git
[submodule "rclone-bin"]
	path = rclone-bin
	url = https://github.com/atomlong/rclone-bin.git
[submodule "linux-command-gpt-git"]
	path = linux-command-gpt-git
	url = https://github.com/atomlong/linux-command-gpt-git.git
[submodule "nssm"]
	path = nssm
	url = https://github.com/atomlong/nssm.git
[submodule "oniguruma"]
	path = oniguruma
	url = https://github.com/atomlong/oniguruma.git
[submodule "fastgithub-bin"]
	path = fastgithub-bin
	url = https://github.com/atomlong/fastgithub-bin.git
[submodule "git-credential-manager"]
	path = git-credential-manager
	url = https://github.com/atomlong/git-credential-manager.git
[submodule "git-for-windows"]
	path = git-for-windows
	url = https://github.com/atomlong/git-for-windows.git
[submodule "git-lfs"]
	path = git-lfs
	url = https://github.com/atomlong/git-lfs.git
[submodule "git-sizer"]
	path = git-sizer
	url = https://github.com/atomlong/git-sizer.git
[submodule "go-bin"]
	path = go-bin
	url = https://github.com/atomlong/go-bin.git
[submodule "gsudo"]
	path = gsudo
	url = https://github.com/atomlong/gsudo.git
[submodule "jq"]
	path = jq
	url = https://github.com/atomlong/jq.git
[submodule "terminal-gpt-git"]
	path = terminal-gpt-git
	url = https://github.com/atomlong/terminal-gpt-git.git
[submodule "wintoast"]
	path = wintoast
	url = https://github.com/atomlong/wintoast.git
[submodule "repo"]
	path = repo
	url = https://github.com/atomlong/repo.git
[submodule "mailcap"]
	path = mailcap
	url = https://github.com/atomlong/mailcap.git
[submodule "github-cli-bin"]
	path = github-cli-bin
	url = https://github.com/atomlong/github-cli-bin.git
[submodule "cygn-keyring"]
	path = cygn-keyring
	url = https://github.com/atomlong/cygn-keyring.git
[submodule "minisign"]
	path = minisign
	url = https://github.com/atomlong/minisign.git
[submodule "apr-util"]
	path = apr-util
	url = https://github.com/atomlong/apr-util.git
[submodule "patchelf"]
	path = patchelf
	url = https://github.com/atomlong/patchelf.git
